<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milledoni</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>

  <body>
    <header>
      <nav class="nav">
        
        <a href="/" class="logo">
          <img src="/assets/mobile-logo.svg" alt="Milledoni home" width="40" height="40">
        </a>

        <ul class="nav-links">
          <li>
            <a href="/" class="{% if currentPath == '/' %}active{% endif %}">Cadeau's</a>
          </li>
          <li>
            <a href="/categorieen" class="{% if currentPath == '/categorieen' %}active{% endif %}">Categorieën</a>
          </li>
        </ul>

<form method="GET" action="/" class="search-bar">
  <ul class="filter-search">
    <li class="search-field">
    <label for="search" class="visually-hidden">Naam</label>
    <input
      type="search"
      id="search"
      name="search"
      placeholder="Zoek jouw cadeau"
    >
    </li>

    <div class="age-and-price-filters">
  <li class="search-field">
    <label for="age" class="visually-hidden">Leeftijd</label>
    <select id="age" name="age">
      <option value="">Alle leeftijden</option>
      <option value="0-2">0–2 jaar</option>
      <option value="3-5">3–5 jaar</option>
      <option value="6-8">6–8 jaar</option>
      <option value="9+">9+ jaar</option>
    </select>
  </li>

  <li class="search-field">
    <label for="price" class="visually-hidden">Prijs</label>
    <select id="price" name="price">
      <option value="">Alle prijzen</option>
      <option value="0-10">€0–10</option>
      <option value="10-25">€10–25</option>
      <option value="25-50">€25–50</option>
      <option value="50+">€50+</option>
    </select>
  </li>
  </div>

  <button name="button" type="submit">Zoeken</button>
</ul>
</form>
    </nav>
  </header>